.content1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:  space-between;
}
.content1 >div{
    background-color: darkgray;
    padding: 10px 20px;
    width: 100px;
    margin: 10px;
}
.c2{
    flex-grow: 2;
}
.c3{
    flex-grow: 4;
    color: #ffffff;
    text-align: right;
}
.content2{
    margin: 20px 10px;
}
.content3{
    margin: 20px 10px;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
}
.horizontalline1{
    height: 2px;
    background-color: darkgray;
    margin: 0 10px;
}
.horizontalline2{
    height: 2px;
    background-color: lightgray;
    margin: 0 10px;
}
.aside1{
    background-color: darkgray;
    color: white;
}
.aside2 {
    background-color: darkgray;
    color: white;
    height: 100px;
    width: 1500px;
    flex-grow: 1;
}
.upper>div{
    margin: 10px;
}
.textblock{
    background-color: #dadada;
    color: black;
}

.uppercontent{
    display: flex;
    align-items: flex-start;
}
.lowercontent {
    display: flex;
    align-items: flex-end;
}
.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.container2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.square{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: #dadada;
}
.blocks {
    margin: 10px 10px 0 10px;
    background-color: #dadada;
}
.first-block {
    background-color: darkgray;
    color: white;
    flex-grow: 1;
    margin: 0 10px 0 0;
}
.second-block {
    background-color: darkgray;
    color: white;
    flex-grow: 1;
    margin: 0 10px 0 0;
}
.third-block {
    color: white;
    margin: 0 10px 0 10px;
    background-color: darkgray;
}
.fourth-block {
    color: white;
    margin: 10px 10px 0 10px;
    background-color: darkgray;
}
