body {
    width: 100%; /*to center picture*/
    height: 100vh; /*to center picture*/
    background-image: url("background.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center; /*to center picture*/
    background-size: cover;
}
.iphone {
    margin: 0 auto;
    position: relative;
    width:417px;
    height:730px;
    border: 3px solid black;
    border-radius: 20px;
}
.first_block {
    position: absolute;
    margin: 170px 46px;
    width: 322px;
    height: 80px;
    border: 3px solid #284284;
    border-radius: 30px;
    background: rgba(0, 209, 255, 0.5);
/*text inside div*/
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    font-family: "Arial Black";
    font-size: 36px;
}
img {
    position: absolute;
    margin: -30px 0px 30px 139px;
    width: 140px;
    height: 240px;
}
form {
    position: absolute;
    padding: 10px;
    margin: 300px 0px 0px 100px;
    width: 200px;
    height: 300px;
    font-family: Arial;
    font-weight: bold;

}
input[type=text] {
    padding: 12px 20px;
    margin: 10px 0;
    height: 10px;
    width: 150px;
    border: 2px solid aqua;
    border-radius: 4px;
}
input[type=password] {
    padding: 12px 20px;
    margin: 10px 0;
    height: 10px;
    width: 150px;
    border: 2px solid aqua;
    border-radius: 4px;
}
input[type=checkbox] {
    padding: 12px 20px;
    margin: 20px 0;

}
input[type=button] {
    width: 195px;
    margin: 10px 0;
    border-radius: 30px;
    background: whitesmoke;
    height: 35px;
}
.block1 {
    position: absolute;
    margin: 650px 0px 0px 150px;
}
.block2 {
    position: absolute;
    margin: 680px 0px 0px 145px;
}

